


// Main --color 

$--borderBlue : rgb(213, 232, 243);
$--lightBlue  : rgb(243, 251, 255);
$--light      : white;
$-blue-s      : #a94618d3;
$-blue-sover  : #92360cd6;
// #7551ebf2
// 7451eb
// text   

$text-mid      : #6c6c6c;
$-color-cross  : #aa3d0a;
$oranging      : rgba(255, 215, 141, 0.901);